GCP/* linguist-vendored=false
GCP/gcp-2.5/doc/* linguist-vendored=false
docker-compose.yml linguist-vendored=false
pom.xml linguist-vendored=false
src/* linguist-vendored
src/main/docker/Dockerfile linguist-vendored=false
